@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    min-height: 100vh;
    margin: 0;
}

.navbar {
    font-family: 'Poppins', sans-serif;
    display: flex;
    background-color: rebeccapurple;
    height: 65px;
}

.item {
    width: 80px;
    height: 65px;
    line-height: 65px;
    text-align: center;
}
