body {
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    background-color: rebeccapurple;
    height: 65px;
}

.item {
    width: 80px;
    height: 65px;
    line-height: 65px;
    text-align: center;
}
